@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .form-login {
            width: 50%;
            margin: 5% auto;
        }

            .form-login h2 {
                font-size: 40px;
                text-align: center;
            }

            .form-login form {
                border: 3px solid #f1f1f1;
            }

            .form-login .alert {
                padding: 20px;
                background-color: #f44336;
                color: white;
                width: 90%;
                margin: 0 auto;
            }

            .form-login .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
            }

                .form-login .closebtn:hover {
                    color: black;
                }

            .form-login input[type=text],
            .form-login input[type=email],
            .form-login input[type=password] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                box-sizing: border-box;
            }

            .form-login button {
                background-color: #d8302f;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 100%;
            }

            .form-login cancelbtn:hover {
                opacity: 0.8;
                text-decoration: none;
            }

            .form-login .cancelbtn {
                width: auto;
                padding: 10px 18px;
                background-color: #f44336;
                text-decoration: none;
                color: #fff;
            }

            .form-login .imgcontainer {
                text-align: center;
                margin: 24px 0 12px 0;
            }

            .form-login .container {
                padding: 16px;
            }

            .form-login span.psw {
                float: right;
                padding-top: 16px;
            }

            .form-login .private {
                margin: 20px 10px;
            }

            .form-login span.private {
                margin-left: 44%;
            }

        media screen and (max-width: 300px) {
            .form-login span.psw

        {
            display: block;
            float: none;
        }

        .form-login .cancelbtn {
            width: 100%;
        }

        }

        .frame-email {
            padding: 10px 0;
        }

    </style>

    <title>Verify</title>
</head>
<body>
    <div class="form-login">

        <form action="verify" method="post">
            <h2>Verify</h2>
            <div class="frame-email" style="background-color:#f1f1f1">
                @{
                    string CurrentEmail = null;
                    if (Context.Session.GetString("CurrentEmail") != null)
                    {
                        CurrentEmail = Context.Session.GetString("CurrentEmail");
                    }
                    if (Context.Session.GetString("EmailFG") != null)
                    {
                        CurrentEmail = Context.Session.GetString("EmailFG");
                    }
                }
                <h4 style="text-align: center; font-size: 20px;">@CurrentEmail</h4>
            </div>
            @if (ViewBag.Error != null)
            {
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display = 'none';">&times;</span>
                    @ViewBag.Error
                </div>
            }
            <div class="container">
                <label for="code"><b>Enter Code</b></label>
                <input type="text" placeholder="Enter Code" name="Code" required>

                <button type="submit">Xác Nhận</button>
            </div>
        </form>
        <span class="private"><a href="/User/Resend">Gửi Lại Mã</a></span>

        <div class="container" style="background-color:#f1f1f1">
            <a href="/User/Login" class="cancelbtn">Back</a>
        </div>
    </div>
</body>
</html>


